.msg{text-align:center}.error{color:red}.k-grid-content{overflow:auto}.icon-unlocked{font-weight:300}.k-pager-wrap.k-grid-pager{height:24px;line-height:24px}.yourprofile .cor-name p{padding:0 0 0 15px}.btn_cta{cursor:pointer}.k-pager-wrap.k-grid-pager a:nth-child(1),.k-pager-wrap.k-grid-pager a:nth-child(3),.k-pager-wrap.k-grid-pager a:nth-child(5),.k-pager-wrap.k-grid-pager a:nth-child(6){display:none}.k-pager-wrap .k-pager-info{flex:1;text-align:center;-ms-flex-order:9;order:9;-ms-flex-pack:end;justify-content:center}.k-pager-wrap.k-pager-lg .k-pager-numbers:hover{box-shadow:none}.adduser .modal-dialog{background:#fff;margin:0 auto;top:25%;width:40%;left:0;right:0}.adduser .enp_infoform{border:1px solid #b3b3b3;padding:0}.adduser .modal-header .close{opacity:1;color:#fff}.adduser .modal-dialog .modal-header{padding:5px 15px;border-bottom:1px solid #e5e5e5;margin-bottom:10px;background:#580f11;color:#fff}i.icon.icon-rupee{font-size:12px}
.k-list 
{
  background-color: #fff !important;
}
.nav > li > a{padding: 0 !important; margin: 0 !important;float: right: !important;}
.login_page-body .main_content{display: grid !important;}

@media (max-width: 767px){
	header.header .login_right-header{
	display: block;	float: right; background: #fff; position: relative; top: 0; right: 0; margin-top: -50px; box-shadow: none; padding:0px;
	}
	header.header .navbar .navbar-header .navbar-brand img {
	   margin: 0;
	}
}




