body {
    margin: 0px;
    padding:0;
    width:100%;
    height:100%;
    font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
}
    body {
        overflow: hidden;
    }
    .container{
    width: 100% !important;
    margin: 0 auto;
    display: block;
    background-color: #FFF;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 60px;
   
    position: fixed;
    top: 0;
}

footer {
    width: 100%;
    height: 60px;
    background: red;
    position: fixed;
    bottom: 0;
}
/* .container{
	width: 80% !important;
	margin: 0 auto;
	display: block;
	background-color: #FFF;
}*/
.header {
    width: 100%;
    height: auto;
    background-color: #FFF;
    border-bottom: 1px solid #cccccc;
    top: 0;
    left: 0;
    position: static;
    z-index: 100;
	clear: both;
}
.header .fincare-logo { 
/*    background: url("fincare-logo.png") 
                no-repeat;*/
    width: 20%;
    height: 50px;
	margin: 10px;	
} 
.header .admin-name {
   font-size: 16px;
   color:#d11b22;
   text-align: right;
   width:70%;	          
}
.header .fincare-logo, 
.header .admin-name {
    display: inline-block;
    vertical-align: middle;
}
#header-list{
  list-style: none;
  display: inline-block;  
}
.header .user-logout{
	width: 9%;
	vertical-align: middle;
  display: inline-block; 
  text-align: right; 
}
#image{
margin: 10px auto 10px auto;
height: auto;
width: 50%;
display: block;
}
.content {
    width: 100%;
    height: auto;
	margin: 0;
	text-align: center;
}
.login-page .ot input
{
    width : 40% ;
    margin : auto 30% !important ;
}

@media screen and (max-width: 767px){
	.banner-pic {
    display: none
}
}
@media screen and (min-width: 768px){
	.banner-pic {
     width: 100%;
	float: left;
}
}
/*
.banner-pic {
    width: 100%;
	float: left;
}
*/
.login-page{
    width: 100%;
    height: auto;
    border: solid 1px #fdd7a4;
	background-color: #feebd2;
	margin: 0;
	float: right;
}
.login-page{
    width: 100%;
    height: auto;
    border: solid 1px #fdd7a4;
    background-color: #feebd2;
    margin: 0;
    float: right;
}

#img
{ 
    height: auto;
    width: 100%;   
    float: left;
    margin: 0    
}
::placeholder {
  color :#f99b1c ;
  opacity: 1; 
}
.login-page input{    
    width: 70%;
    text-align: center;
    color: #736a6a;
    height: 20px;
    border: none;
    outline: 0;
    background: inherit;  
    border-bottom: 1px solid #f99b1c;
	margin: 1% 15% !important;
}
.login-page a {
	text-align: center;
	margin-left : 35%;
}
.login-page .error{
    margin-left: 99px;
    text-align: center!important;
    color: red;
}
.ref a {
/*
    width: 200px;
    height: 24px;    
*/
    font-size: 16px;  
    font-weight: 500;  
    font-style: normal;  
    font-stretch: normal;  
    line-height: 1.5;  
    letter-spacing: 0px;  
    color: #333333;
    margin :0 0 10px 0;
	display: block;
}
#button1{    
    display: block;
	color : white;
    border : none ;
    width: 85px;
	height: 40px;
	border-radius: 3px;
	background-color: #f99b1c;
	margin : 15px auto auto ;
}
#button2{   
    display: block;    
	color : white;
    border : none ;
    width: 85px;
	height: 40px;
	border-radius: 3px;
	background-color: #f99b1c;
	margin : 15px auto auto ;
}
#change
{
    float:left;
    font-weight: bold;
    color:red;
    font-size: 12px;
    margin-left:15%;
}
#passtext
{
    float:right;
    color:red;
    font-size: 12px;
}
#u
{
    float:left;
    font-weight: bold;
    color:red;
    font-size: 12px;
    margin-left:15% ;    
}
#p
{
    float:left;
    font-weight: bold;
    color:red;
    font-size: 12px;
    margin-left:15%;    
}
#o
{
    float:left;
    font-weight: bold;
    color:red;
    font-size: 12px;
    margin-left:30% ;    
}
#button1:disabled
{
	opacity : 0.3;
}

#button2:disabled
{
	opacity : 0.3;
}
h2 {
    /*! width: 450px; */
    /*! height: 38px; */  
    font-size: 20px;  
    font-weight: normal;  
    font-style: normal;  
    font-stretch: normal;  
    line-height: normal;  
    letter-spacing: -0.6px;  
    color: #b01d22;
    text-align: left;
    margin : 0;
    padding: 0;
}
.login-page h6{
    width: 117px;
    height: 19px;  
    font-size: 13px;  
    font-weight: normal;  
    font-style: normal;  
    font-stretch: normal;  
    line-height: normal;  
    letter-spacing: 0px;  
    color: #999999;
    text-align: center;
    margin: auto auto;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b01d22;
    display: block;
    color:  #FFFFFF;
    text-align: center;
    border: 1px solid #cccccc;
    height: 40px;
    font-size: 13px;padding-top:10px;
 }
 .loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}
.loader
{
    display: none;
    width:200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    
    margin-left: -150px;
    margin-top: -150px;
    z-index:2;
    overflow: auto;
}