a {color: gray;text-decoration: none;background-color: transparent;}
.btn-link {font-weight: 400;color: gray;text-decoration: none;}
.pad_p{padding:10px;}
.img_pad{padding:10px 0px;}
.btn-link:hover {color: gray;text-decoration: none;}
.buttn{background-color: #eee;color:gray;width:49%;border-radius:0;border:1px solid lightgray;}
.active{background-color: #ff00000f;color:#f6881f;width:49%;border-radius:0;border:1px solid #ff00000f;}
.form-control{border:none;border-bottom: 1px solid lightgray;border-radius:0px;}
.search-with {font-size:s 14px;color: #999;}
.search-with a {font-size: 15px;color: #f99b1c;}	
/* .search-with a:hover {font-size: 15px; color: #b01d22; }	 */
.search-icon {float: right; padding: 15px 0px; cursor: pointer;  width:10%}
.search-icon {float: right; padding: 15px 0px; cursor: pointer;  width:10%}
.search-box {width: 100%; height: 50px; background-color: white; margin: 0 auto 15px auto; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14); border: 1px solid transparent; display: inline-flex;}
.search-box-error {width: 100%; height: 50px; background-color: white; margin: 0 auto 15px auto; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14); border: 1px solid #de1c23; display: inline-flex;}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
#alert1{
  display:none;
position: fixed;
left: 0;
width: 100%;
height: 100%;
z-index: 999;
background: rgba(0,0,0,0.8);
font-size: 1.2em;
}
.alert {
position: relative;
padding: 0;
margin-bottom: 1rem;
border: 1px solid transparent;
border-radius: .25rem;
}
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
.alert-dismissible {
padding-right: 0rem;
}
#alert-container {
background:#de1c23;
padding: 14px;
width:100%;
color:white;
}
.active {background-color: #A8060A;width: 49%;border-radius: 0;border:none;width:40%; padding:15px 0px;outline:none;}
button:focus {outline:none;}
.line-bottom{border-bottom:3px solid white !important;}
.otp
{
border: solid 1px #adb5bd !important; 
height: 70px;
width: 70px;
display: inline-block;
padding:10px;
outline:none;
margin:2px;
font-size:2.2em;

}
/* .modal-backdrop.show {
  opacity: -0.3;
} */
.close{
opacity:1;
}
.img-resp{height:80px;}
.btn-next{background-color: #A8060A;color:white;width:50%;margin:0 auto;display:block;}
@media only screen and (max-width: 767px) {
#alert-container {
background:#de1c23;
padding: 14px;
width:100%;

}

}
@media only screen and (max-width: 767px) {
  .buttn{background-color: #eee;color:gray;width:49%;border-radius:0;}
  .active{background-color: #ff00000f;color:#f6881f;width:49%;border-radius:0;} 
  .btn-next{background-color: #A8060A;color:white;width:100%;}
  .img-resp{height:70px;}
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
  .errorMessage{font-size:10px;}
}
@media only screen and (max-width: 1024px) {
  .btn-next{background-color: #A8060A;color:white;width:100%;}
}

/*  header css */

    .contain{
      text-align: center;
      position: relative;
color:white;
    }
.centered{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size:28px;
}
.chip{
  position: absolute;
    top: 30%;
    left: 38% !important;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 36%;
}
.bottom-right{
  position: absolute;
  bottom:30px;
  right:36%;
}
.bottom-right1{
  position: absolute;
  bottom:8px;
  right:36%;
}
.valid{
  position: absolute;
  bottom:40px;
  right:46%;
}
.bottom-name{
  position:absolute;
  bottom:8px;
  left:38% !important;
}

@media only screen and (max-width: 767px) {
  .centered {
    position: absolute;
    top: 46%;
    left: 10% !important;
    transform: none;
    font-size: 29px;
  }
  .valid{
  position: absolute;
  bottom:40px;
  right:38%;
}
.top-right{
  position: absolute;
  top:8px;
  right:30px;
}
.bottom-right{
  position: absolute;
  bottom:30px;
  right:30px;
}
.bottom-right1{
  position: absolute;
  bottom:8px;
  right:30px;
}
.bottom-name{
  position:absolute;
  bottom:8px;
  left:38px !important;
}
.chip{
  position: absolute;
    top: 30%;
    left:10% !important;
}
}
.hema{
  display: inline;
}
.vl{
  border-left:1px solid #dae0e5;
  height:200px;
}
